Repository cburik/puzzles: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, blue, mypy, pylint

isort:
  name: Run isort
  language: python
  entry: isort
  args:
  - -l 120

blue:
  name: Run blue
  language: python
  entry: blue
  args:
  - --line-length=120

mypy:
  name: Run mypy
  language: python
  entry: mypy
  args:
  - --ignore-missing-imports

pylint:
  name: Run pylint
  description: runs pylint but does not block commit
  language: python
  entry: pylint
  args:
  - --max-line-length=120

Updates pre-commit config
  .pre-commit-config.yaml
Due: none

Updates pre-commit-config
  .pre-commit-config.yaml
Due: none

Updats pre-commit
  .pre-commit-config.yaml
Due: none

Updates precommit
  .pre-commit-config.yaml
Due: none

Removes print statement
  tests/tower_of_hanoi/test_main.py
Due: isort

Makes pytest less verbose
  .pre-commit-config.yaml
Due: none

Adds empty requirements file
  requirements.txt
Due: none

Update workflow
  .github/workflows/main.yml
Due: none

Updates workflow
  .github/workflows/main.yml
Due: none

Adds solution to distinct_differences
  requirements-dev.txt
  solutions/distinct_differences.py
  tests/test_distinct_differences.py
Due: isort, blue, mypy, pylint

Updates workflow and precommit
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Reorder requirements
  requirements-dev.txt
Due: none

Formatting change
  .pre-commit-config.yaml
  tests/test_distinct_differences.py
Due: isort

Change blue to black
  .github/workflows/main.yml
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

Run black
  solutions/anagram_checker.py
  solutions/climbing_stairs.py
  solutions/distinct_differences.py
  solutions/hamming_distance.py
  solutions/max_path_sum.py
  solutions/tower_of_hanoi/main.py
  solutions/tower_of_hanoi/model.py
Due: isort, blue, mypy, pylint

Path conditions:
  isort: any of: \.py$
  blue: any of: \.py$, but not: tests
  mypy: any of: \.py$, but not: tests
  pylint: any of: \.py$, but not: tests
